$transitionDuration: .3s;

// header
$color1: #eedb59; // bg, content input color
$color2: #2f2e2d; // h1
$color3: rgba(255, 255, 255, 0.6); // h1 text-shadow
$color4: #9e8c09; // second title
$color5: rgba(255, 255, 255, 0.9); // contacts__about
$color6: #1a1a1a; // contacts__about hover

//content

$color7: #323330; //bg
$color8: #fff; // just white
$color9: #252624; //input bg

$color10: rgba(240, 240, 240, 0.4); //footer border
$color11: #0088cc; //footer get in toush
$color12: #005580; //footer get in toush hover

$color13: rgba(247, 223, 30, 0.9); // book hover bg
$color14: #000; //book hover color
$color15: #efa121; // book title
$color16: #cfb798; // book author
